
$paddings: (
    pad: 1rem,
    pad_md: 1.5rem,
    pad_smd: 2.5rem,
    pad_lg: 4rem,
);

$fontsize: (
    font_xm: 1rem,
    font_sm: 1.5rem,
    font_md: 2rem,
    font_smd: 2.5rem,
    font_lg: 3rem
);

$breakpoints: (
    x_small: 392px,
    xx_small: 383px,
    small: 490px,
    x-medim: 580px,
    semi_meduim: 768px,
    semi_meduim-2: 640px,
    xx_meduim: 692px,
    medium: 890px,
    med: 995px,
    lg_screen: 1054px,
    x_lg: 1076px
);
